/* welcome font */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/* rg font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero image */
#hero {
  background-image: url("images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px
}

/* hero title and button */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

/* hero button */
button {
  background-color: #be62e6;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

/* logo */
#logo {
  position: absolute;
  height: 100px;
  width: 150px;
  float: left;  
}

.welcome {
  font-family: 'Secular One', sans-serif;
  font-size: 8vh;
}

.rg {
  font-family: 'Roboto', sans-serif;
  font-size: 7vh;
  letter-spacing: 3px; /*space between letters */
  margin-top: -12%;
}

