/* welcome font */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/* rg font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* lorem text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero image */
#hero {
  background-image: url("images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 69.5vh;
  max-width: 100%;
}

/* hero title and button */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

/* hero button */
button {
  background-color: #be62e6;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:xx-small;
}

/* logo */
#logo {
  position: absolute;
  height: 100px;
  width: 150px;
  float: left;  
}

/* welcome title */
.welcome {
  font-family: 'Secular One', sans-serif;
  font-size: 8vh;
}

/* rooster grin title */
.rg {
  font-family: 'Roboto', sans-serif;
  font-size: 7vh;
  letter-spacing: 3px; /*space between letters */
  margin-top: -12%;
}

/* makes images resize well when responsive */
img {
  width: 100%;
  height: 100%;
  display: flex;
}

/* text for img1 */
.lorem-title {
  color: rgb(73, 6, 140);
  text-align: center;
  padding-top: 2vh;
  font-family: 'Roboto', sans-serif;
  font-size: 5vh;
  letter-spacing: 3px;
}

.lorem {
  padding-top: 0.5vh;
  color: rgb(1, 1, 1);
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

.lorem-link {
  text-decoration: none;
  font-size: large;
  color:rgb(73, 6, 140);
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: center;
  margin-bottom: 2vh;
}

/* link hover color */
.lorem-link:hover {
  color:#be62e6;
}


/* banner container */
.banner1 {
  position: relative;
  width: 100%;
  height: auto;

}

/* banner img */
.banner-img{
  width: 100%;
  height: auto;
}

/* banner image button */
.banner-button {
  background-color: coral;
  position: absolute;
  top: 50%;
  left: 10%;
  display: inline-block;
  font-size:x-small;
}

/* banner img 1 text */
.banner-txt {
  position: absolute;
  top: 40%;
  left: 10%;
  display: inline-block;
  color:rgb(73, 6, 140);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 4vh;
  margin-bottom: 1vh;
}

/* responsiveness for button and banner img 1 */
@media (max-width: 950px) {
  .banner1, .banner-txt {
    display: block;
    font-size: 110%;
  }
  .banner-button {
    margin-top: 2vh;
  }
}

.container-four {
  background-color: rgba(255, 255, 255, 0.783);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  height: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.icon-title {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  z-index: 2;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 5vh;
  padding-right: 2vw;
}

.col {
  height: 30vh;
  margin-bottom: 8vh;
  text-align: center;
}

.banner-2 {
  height: 100%;
  margin-top: 5vh;
}